.page-wrapper {
  height: 100%;

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    z-index: 5000;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FFF;
    color: #666;

    > .title {
      text-align: center;
      font-size: 36px;
      line-height: 88px;
      color: #666;
      min-width: 360px;
      width: 360px;
      height: 88px;
      margin: 0 auto;
    }

    > .nav-item {
      width: 120px;
      height: 88px;
      padding: 0;
      position: absolute;
      top: 0;
      font-size: 28px;
      line-height: 88px;

      .btn {
        margin-top: -6px;

        &.btn-icon {
          margin-top: -4px;
          padding-top: 9px;
          padding-bottom: 9px;
          i, .ion {
            font-size: 56px;
            line-height: 100%;
          }
        }

        // 去除out-line
        &,
        &:active,
        &.active {
          &:focus,
          &.focus {
            outline: none;
          }
        }

        &:active,
        &.active {
          -webkit-box-shadow: none;
          box-shadow: none;
        }

      }
    }


    > .nav-item.left {
      float: left;
      left: 0;
    }

    > .nav-item.right {
      float: right;
      right: 0;
      text-align: right;
    }

  }

  .page-content {
    height: 100%;
    padding: 24+88px 0 24px 0;

    &.no-page-header {
      padding: 24px 0;
    }

    &.padding-horizontal {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

