.tab-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: #FFF;
  border-top: 1px solid #DDD;

  .tab {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: 44px 44px;
    background-position-x: center;
    background-position-y: 10px;

    .text {
      display: block;
      position: absolute;
      bottom: 4px;
      left: 50%;
      @include fontSize(20px);
      width: 100px;
      margin-left: -50px;
      color: #444;
    }

    &:nth-of-type(1) {
      background-image: url(http://qianka.b0.upaiyun.com/images/ca8c92a3ebb99a1d2d06d42986b57d01.png);
    }
    &:nth-of-type(2) {
      background-image: url(http://qianka.b0.upaiyun.com/images/e22d407651654d368c067bb91bc51dd2.png);
    }
    &:nth-of-type(3) {
      background-image: url(http://qianka.b0.upaiyun.com/images/f85b825318a2e3f0e470ba387e1b1e27.png);
    }
    &:nth-of-type(4) {
      background-image: url(http://qianka.b0.upaiyun.com/images/7a59dccb5fa9ac3a6f7053d66c5a444b.png);
    }

    &.tab-active-1 {
      background-image: url(http://qianka.b0.upaiyun.com/images/d6bad84e8a572a81e90f0ecd780b64b5.png);
    }
    &.tab-active-2 {
      background-image: url(http://qianka.b0.upaiyun.com/images/67299b470bc9c9f456d099dc0f495428.png);
    }
    &.tab-active-3 {
      background-image: url(http://qianka.b0.upaiyun.com/images/9ced6f8e5ba623ba3e059b345ec51463.png);
    }
    &.tab-active-4 {
      background-image: url(http://qianka.b0.upaiyun.com/images/f76b460037430eeb0c292cc08ff697b1.png);
    }

    &.tab-active-1,
    &.tab-active-2,
    &.tab-active-3,
    &.tab-active-4
    {
      .text {
        color: #FF3D3D;
      }
    }
  }

}
